/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style or utilities */
body{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f4fa;
}
header{
    display: flex;
    background: #2D25A0;
    margin: 0px;
    width: 677px;
    height: 1440px;

}
.top-banner{
    margin: 150px 102px 165px 156px;
}
.top-banner-h1{

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: ;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0 0 40px rgb(0);
}

.